@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

<link rel="stylesheet" href="~/assets/css/forgot.css">

<section class="one">
    <div class="container">
        <p>ACCOUNT</p>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="row">
            <div class="about col-6">
                <p class="reset">Reset your password</p>
                <p class="sendtext">We will send you an email to reset your password.</p>

                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <input asp-for="Email" id="emaill" required="required" placeholder="Email*" />
                    <span class="text-danger" asp-validation-for="Email"></span>
               
                <div class="both">
                        <button type="submit" class="submit">SUBMIT</button>

                    <a class="cancel" asp-controller="Account" asp-action="Login">Cancel</a>
                </div>
                </form>
            </div>

            <div class="new col-6">
                <p class="custom">New customer?</p>
                <p class="inthis">
                    Sign up for early Sale access plus tailored new arrivals, trends and promotions.
                    To opt out, click unsubscribe in our emails.
                </p>

                <div class="regis">
                    <a asp-controller="Account" asp-action="Register">REGISTER</a>
                </div>
            </div>
        </div>
    </div>
</section>