@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/assets/css/register.css">

<section class="one">
    <img src="~/assets/img/3057c28b1250e9c.jpg" alt="">

    <p>CREATE ACCOUNT</p>
</section>

<section class="two">
    <div class="container">
        <div class="about">
            <form asp-controller="Account" asp-action="Register" method="post">
                <input id="name" asp-for="FirstName" placeholder="First Name" />
                <span class="text-danger" asp-validation-for="FirstName"></span>
                <input id="last" class="other" asp-for="LastName" placeholder="Last Name" />
                <span class="text-danger" asp-validation-for="LastName"></span>
                <input id="user" class="other" asp-for="UserName" placeholder="User Name" />
                <span class="text-danger" asp-validation-for="UserName"></span>
                <input id="emaill" class="other" asp-for="Email" placeholder="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>

                <input class="passwordd other" asp-for="Password" placeholder="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
                <input class="confirm other" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <div class="line"></div>
                <i class="fa-solid fa-eye-slash close" style="color: #787575;"></i>
                <i class="fa-solid fa-eye open d-none" style="color: #767171;"></i>
                <div class="lined"></div>
                <i class="fa-solid fa-eye-slash closed" style="color: #787575;"></i>
                <i class="fa-solid fa-eye opend d-none" style="color: #767171;"></i>

            <p class="inthis">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>

                <button type="submit" class="regis">REGISTER</button>
            </form>

            <div class="sign">
                <a asp-controller="Account" asp-action="Login">SIGN IN</a>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/register.js"></script>