@{
    ViewData["Title"] = "Index";
}

<section class="one">
    <div class="container">
        <div class="slider">
            <div class="col-12">
                <div class="team">
                    <img class="mainph" src="~/assets/img/slider-1.webp" alt="">

                    <div class="titleph1">
                        <p class="subtitle">AS A MEMBER OF THE EXPERIENCE</p>
                        <p class="firpart">ENHANCE YOUR EXPERIENCE</p>
                        <p class="secpart">WITH EASE</p>

                        <div class="shbtn">
                            <img class="handwine" src="~/assets/img/hand-holding-glaas-of-wine-illustration-png.webp"
                                 alt="">

                            <a href="shop.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="team">
                    <img class="mainph" src="~/assets/img/slider-2.webp" alt="">

                    <div class="titleph2">
                        <p class="subtitle">UNIQUE WINE FLAVORS</p>
                        <p class="firpart">CHOOSE THE PERFECT</p>
                        <p class="secpart">GLASS FOR YOU</p>

                        <div class="shbtn">
                            <img class="handwine" src="~/assets/img/hand-holding-glaas-of-wine-illustration-png.webp"
                                 alt="">

                            <a href="shop.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="team">
                    <img class="mainph" src="~/assets/img/slider-3.webp" alt="">

                    <div class="titleph3">
                        <p class="subtitle">OFFER WHITE WINE</p>
                        <p class="firpart">PERFECT FAMILY</p>
                        <p class="secpart">PARTY</p>

                        <div class="shbtn">
                            <img class="handwine" src="~/assets/img/hand-holding-glaas-of-wine-illustration-png.webp"
                                 alt="">

                            <a href="shop.html">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="generalcart">
            <div class="cart1">
                <p class="free">FREE SHIPPING OVER $120</p>
                <p class="store">To stores and home</p>
            </div>

            <div class="cart2">
                <p class="free">GET IT TODAY</p>
                <p class="store">Buy online & Pick up in store</p>
            </div>

            <div class="cart3">
                <p class="free">EXPRESS HOME DELIVERY</p>
                <p class="store">Within 2-3 working days</p>
            </div>

            <div class="cart4">
                <p class="free">BEST PRICES & OFFERS</p>
                <p class="store">Orders $50 or more</p>
            </div>
        </div>
    </div>
</section>

<section class="three">
    <div class="container">
        <p class="rose">ROSE WINE</p>

        <div class="generalcart">
            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-23_2d90352f-3a17-4eb2-a477-d8380bbdb1d7_360x.webp"
                             class="card-img-top" alt="...">
                    </a>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="timer">
                        <div class="times">
                            <span class="days"></span>
                            <p>Days</p>
                        </div>
                        <div class="timesec">
                            <span class="hours"> </span>
                            <p>Hours</p>
                        </div>
                        <div class="timesec">
                            <span class="minutes"></span>
                            <p>Mins</p>
                        </div>
                        <div class="timesec">
                            <span class="seconds"></span>
                            <p>Secs</p>
                        </div>
                    </div>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title">SUSPENDISSE URNA</a>
                    <p class="price">$230.00</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-21_360x.webp" class="card-img-top"
                             alt="...">
                    </a>

                    <p class="percent">- 20%</p>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="timer">
                        <div class="times">
                            <span class="days"></span>
                            <p>Days</p>
                        </div>
                        <div class="timesec">
                            <span class="hours"> </span>
                            <p>Hours</p>
                        </div>
                        <div class="timesec">
                            <span class="minutes"></span>
                            <p>Mins</p>
                        </div>
                        <div class="timesec">
                            <span class="seconds"></span>
                            <p>Secs</p>
                        </div>
                    </div>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title1">WHITE WINE</a>

                    <div class="diswithpri">
                        <P class="discount">$150.00</P>
                        <p class="pricewith">$120.00</p>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-16_360x.webp" class="card-img-top"
                             alt="...">
                    </a>

                    <p class="percent">- 10%</p>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title2">FAMILY SELECTION</a>

                    <div class="diswithpri">
                        <P class="discount">$280.00</P>
                        <p class="pricewith">$250.00</p>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-11_360x.webp" class="card-img-top"
                             alt="...">
                    </a>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="timer">
                        <div class="times">
                            <span class="days"></span>
                            <p>Days</p>
                        </div>
                        <div class="timesec">
                            <span class="hours"> </span>
                            <p>Hours</p>
                        </div>
                        <div class="timesec">
                            <span class="minutes"></span>
                            <p>Mins</p>
                        </div>
                        <div class="timesec">
                            <span class="seconds"></span>
                            <p>Secs</p>
                        </div>
                    </div>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title3">PROSECCO SPUMANTE</a>
                    <p class="price">$200.00</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-6_360x.webp" class="card-img-top"
                             alt="...">
                    </a>

                    <p class="percent">- 40%</p>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title4">CHARDONNAY</a>

                    <div class="diswithpri">
                        <P class="discount">$250.00</P>
                        <p class="pricewith">$150.00</p>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="photo">
                    <a href="product.html">
                        <img src="~/assets/img/Image-1_360x.webp" class="card-img-top"
                             alt="...">
                    </a>

                    <p class="percent">- 16%</p>

                    <i class="fa-regular fa-heart heart d-none"></i>
                    <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                    <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                    <div class="timer">
                        <div class="times">
                            <span class="days"></span>
                            <p>Days</p>
                        </div>
                        <div class="timesec">
                            <span class="hours"> </span>
                            <p>Hours</p>
                        </div>
                        <div class="timesec">
                            <span class="minutes"></span>
                            <p>Mins</p>
                        </div>
                        <div class="timesec">
                            <span class="seconds"></span>
                            <p>Secs</p>
                        </div>
                    </div>

                    <div class="add">
                        <p>ADD TO CART</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="firfloor">
                        <div class="stars6">
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                            <i class="fa-regular fa-star st"></i>
                        </div>

                        <p class="reviews">No reviews</p>
                    </div>

                    <a href="product.html" class="title5">CABERNET SAUVIGNON</a>

                    <div class="diswithpri">
                        <P class="discount">$300.00</P>
                        <p class="pricewith">$250.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="four">
    <div class="container">
        <div class="banner">
            <div class="onebanner">
                <img src="~/assets/img/banner-1.jpg" alt="">

                <div class="about">
                    <p class="titleone">WINE CULTURE</p>
                    <p class="titletwo">AT ITS FINEST</p>
                    <p class="subtitleone">BY YOU, FOR YOU TOP</p>
                    <p class="subtitletwo">10 BRANDS</p>
                    <a href="shop.html">SHOP NOW</a>
                    <div class="line"></div>
                </div>
            </div>

            <div class="secondbanner">
                <img src="~/assets/img/banner-2.webp" alt="">

                <div class="about">
                    <p class="titleone">A TASTE OF</p>
                    <p class="titletwo">LUXURY</p>
                    <p class="subtitleone">SALE UP TO 60% FOR</p>
                    <p class="subtitletwo">WINE RED</p>
                    <a href="shop.html">SHOP NOW</a>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="five">
    <div class="container">
        <div class="line"></div>

        <div class="titles">
            <p class="titleone">WINES THAT SATISFY YOUR PALATE</p>
            <p class="titletwo">AND STIR YOUR SOUL.</p>
        </div>

        <div class="testimonials">
            <div class="testimonial">
                <p class="message">
                    “Variety of good wines across a number of countries. Fast delivery of products in
                    stock as well as en premiere. Free delivery over £75 well"
                </p>
                <p class="name">EDISON</p>
                <p class="specialty">Designer</p>
            </div>

            <div class="testimonial">
                <p class="message">
                    “Great advice, friendly service, fun team and top wines!! Always a great choice
                    of good quality wines from a wide price range from a wide.”
                </p>
                <p class="name">ANN SMITH</p>
                <p class="specialty">CEO & Founder</p>
            </div>

            <div class="testimonial">
                <p class="message">
                    “It’s so good! And I had really been missing wine. Now it’s my go to gift for all
                    my friends and sometimes I drink it still just because I love the taste.”
                </p>
                <p class="name">JOHN DOE</p>
                <p class="specialty">Photographer</p>
            </div>
        </div>
    </div>
</section>

<section class="six">
    <div class="container">
        <div class="all">
            <img class="main" src="~/assets/img/Screenshot (1).png" alt="">

            <div class="wehave">
                <div class="free">
                    <img class="pict horizontal-shake" src="~/assets/img/leaf-3-icon-16-256.png" alt="">

                    <div class="about">
                        <p class="title">FREE SAMPLES</p>
                        <p class="topic">
                            Test, try and discover new products with every
                            purchase, every day.
                        </p>
                    </div>
                </div>

                <div class="free">
                    <img class="pict" src="~/assets/img/3184784-200.png" alt="">

                    <div class="about">
                        <p class="title">EXPERT TIPS & ADVICE</p>
                        <p class="topic">
                            Our Consultants are true professionals trained by an
                            elite accreditation process.
                        </p>
                    </div>
                </div>

                <div class="free">
                    <img class="pict" src="~/assets/img/3302342.png" alt="">

                    <div class="about">
                        <p class="title">PRESTIGIOUS AWARD</p>
                        <p class="topic">
                            Our loyalty program rewards you with smart
                            benefits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>