
@{
    ViewData["Title"] = "BlogDetail";
}

<link rel="stylesheet" href="~/assets/css/blog-detail.css">

<section class="one">
    <div class="container">
        <div class="switch">
            <p class="first">Home</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="second"> News</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="select"> Fresh Startup Ideas For Your Winery Business Ideas</p>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <img src="~/assets/img/Blog3_1296x.webp" alt="">
    </div>
</section>

<section class="three">
    <div class="container">
        <div class="row">
            <div class="filt col-3">
                <form action="#">
                    <label for="search" class="search">
                        <input id="search" class="me-2" type="search" placeholder="Search blog..."
                               aria-label="Search">
                    </label>

                    <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                </form>

                <p class="namefilt">CATEGORIES</p>

                <p class="postfilt">RELATED ARTICLES</p>

                <div class="inblg active" data-id="1">
                    <div class="inbl">
                        <img src="~/assets/img/Blog3_1296x.webp" alt="">

                        <div class="in">
                            <a class="new" href="blog.html">NEWS</a>
                            <a class="title" href="blog-detail">
                                Fresh Startup Ideas For Your Winery Business
                                Ideas
                            </a>
                        </div>
                    </div>

                    <div class="inbl oth">
                        <img src="~/assets/img/Blog1_1296x.webp" alt="">

                        <div class="in">
                            <a class="new" href="blog.html">NEWS</a>
                            <a class="title" href="blog-detail">Wine With Mexican Food: Starting With The Basics</a>
                        </div>
                    </div>

                    <div class="inbl oth">
                        <img src="~/assets/img/Blog2.webp" alt="">

                        <div class="in">
                            <a class="new" href="blog.html">NEWS</a>
                            <a class="title" href="blog-detail">Silverado Trail: The Serene Side Of Napa Valley</a>
                        </div>
                    </div>
                </div>

                <p class="postfilt">ARTICLES TAGS</p>
            </div>

            <div class="about col-9">
                <div class="head">
                    <a class="new" href="blog.html">NEWS</a>
                    <p class="title">FRESH STARTUP IDEAS FOR YOUR WINERY BUSINESS IDEAS</p>

                    <div class="comment">
                        <div class="who">
                            <p class="by">By :</p>
                            <p class="name">Tung Hoang</p>
                        </div>

                        <a class="commen" href="blog-detail.html">0 comments</a>
                    </div>
                </div>

                <p class="in">
                    Quisque elementum nibh at dolor pellentesque, a eleifend libero pharetra. Mauris neque
                    felis, volutpat nec ullamcorper eget, sagittis vel enim. Nam sit amet ante egestas, gravida
                    tellus vitae, semper eros. Nullam mattis mi at metus egestas, in porttitor lectus sodales. Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Voluptate laborum vero voluptatum.
                </p>

                <p class="intwo">
                    Lorem quasi aliquid maiores iusto suscipit perspiciatis a aspernatur et fuga
                    repudiandae
                    deleniti excepturi nesciunt animi reprehenderit similique sit. ipsum dolor sit amet, consectetur
                    adipisicing elit. Qui at laborum nulla quae quibusdam molestias earum suscipit dolorum debitis
                    hic sint asperiores maxime deserunt neque explicabo molestiae autem totam illum?
                </p>

                <div class="letter">
                    <p class="let">
                        Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend
                        molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Phasellus interdum
                        risus at mi ullamcorper lobortis. In et metus aliquet, suscipit leo.
                    </p>
                    <p class="writ">ROBERT SMITH</p>
                </div>

                <p class="intwo">
                    Donec sed tincidunt lacus. Duis vehicula aliquam vestibulum. Aenean at mollis mi.
                    Cras ac urna sed nisi auctor venenatis ut id sapien. Vivamus commodo lacus lorem, a tristique
                    sapien tempus non. Donec fringilla cursus porttitor. Morbi quis massa id mi pellentesque
                    placerat. Nam scelerisque sit amet diam id blandit. Nullam ultrices ligula at ligula tincidunt,
                    sit amet aliquet mi pellentesque. Aenean eget fermentum risus. Aenean eu ultricies nulla, id
                    bibendum libero. Vestibulum dui augue, malesuada nec tellus vel, egestas condimentum ipsum.
                    Vestibulum ut.
                </p>

                <div class="end">
                    <div class="ending">
                        <p class="prev">PREVIOUS</p>
                        <p class="slog">WINE WITH MEXICAN FOOD: STARTING WITH THE BASICS</p>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>

                        <li class="icon">
                            <a href="#">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>

                        <li class="icon">
                            <a href="#">
                                <i class="fa-brands fa-pinterest"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/blog-detail.js"></script>