@model ProductVM
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/assets/css/shop.css">

<section class="one">
    <div class="container">
        <p class="main">PRODUCTS</p>

        <div class="switch">
            <p class="first">Home</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="select">Products</p>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="row acdgen">
            <div class="col-3 filt">
                <p class="title">COLLECTIONS</p>
              
                @await Component.InvokeAsync("Category",Model.Categories)

                <p class="title">AVAILABILITY</p>

                <ul class="check">
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                                   checked>
                            <label class="form-check-label" for="exampleRadios1">
                                In stock (2)
                            </label>
                            </div>
                    </li>
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                            <label class="form-check-label disab" for="flexRadioDisabled">
                                Out of stock (0)
                            </label>
                        </div>
                    </li>
                </ul>

                <p class="title">Brand</p>
                <ul class="brands">
                    <li class="brand firstbrand" data-id="1">Girl Store</li>
                    <li class="brand" data-id="2">Mens Store</li>
                    <li class="brand" data-id="3">Sakura Store</li>
                    <li class="brand" data-id="4">Wine Store</li>
                    <li class="brand firstbrand" data-id="5">Wpbingo</li>
                </ul>

                <p class="title">PRICE</p>

                <div class="wrapper">
                    <div class="slider">
                        <div class="progress"></div>
                    </div>
                    <div class="range-input">
                        <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
                        <input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
                    </div>
                    <div class="price-input">
                        <p class="price">Price :</p>
                        <div class="field">
                            <input type="number" class="input-min" value="0">
                        </div>
                        <div class="separator">-</div>
                        <div class="field">
                            <input type="number" class="input-max" value="10000">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 prodsel">
                <div class="english dropdown">
                    

                    <select name="filter" id="sort-product">
                        <option value="Featured">All</option>
                        <option value="Best selling">Best selling</option>
                        <option value="Alphabetically, A-Z">Alphabetically, A-Z</option>
                        <option value="Alphabetically, Z-A">Alphabetically, Z-A</option>
                        <option value="Price, low to high">Price, low to high</option>
                        <option value="Price, high to low">Price, high to low</option>
                        <option value="Date, old to new">Date, old to new</option>
                        <option value="Date, new to old">Date, new to old</option>
                    </select>
                   
                </div>

                <div class="all active partial-sort-datas" data-id="1">
                    <partial name="_ShopProductsPartial" model="Model.Products" />
                </div>

                

               
               
            </div>
        </div>
    </div>
</section>