@model IEnumerable<Slider>

@{
    int count = 1;
}

<section class="one">
    <div class="container">
        <div class="slider">
            @foreach (Slider slider in Model)
            {
                <div class="col-12">
                    <div class="team">
                        <img class="mainph" src="~/assets/img/@slider.Image" alt="">

                        <div class="titleph@(count)">
                            <p class="subtitle">@slider.SubTitle</p>
                            <p class="firpart">@slider.Title</p>
                            <p class="secpart">@slider.TitleTwo</p>

                            <div class="shbtn">
                                <img class="handwine" src="~/assets/img/hand-holding-glaas-of-wine-illustration-png.webp"
                                 alt="">

                                <a asp-controller="Shop" asp-action="Index">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</section>