@{
    ViewData["Title"] = "Index";
}

<section class="one">
    <div class="container">
        <p class="main">ABOUT US</p>

        <div class="switch">
            <p class="first">Home</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="select">About us</p>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <p class="title">How we started</p>
        <p class="about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet elit leo. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate nibh et nulla hendrerit, ut
            condimentum odio porttitor. Nulla consectetur nibh massa, eget scelerisque nisl volutpat et. Integer
            pharetra efficitur tempor. Quisque finibus suscipit nisi, quis scelerisque nunc efficitur vitae. Duis
            interdum aliquam mauris, ut fermentum enim suscipit.
        </p>
        <p class="title">Passion</p>
        <p class="about">
            Suspendisse commodo ex eget lorem iaculis, vel ultrices neque sodales. Sed bibendum egestas
            felis, commodo mattis ligula. Mauris aliquam lacus id hendrerit venenatis. Quisque dignissim mi ut
            dictum gravida.
        </p>
        <p class="title">Craftmanship</p>
        <p class="about">
            Duis sit amet ex sit amet tortor posuere posuere. Mauris sodales rutrum tincidunt. Donec
            non massa ullamcorper, volutpat ex ac, volutpat libero. Morbi vel metus fermentum augue lacinia maximus
            sit amet ut dolor.
        </p>
    </div>
</section>

<section class="three">
    <img src="~/assets/img/homepage-about-us.jpg" alt="">

    <div class="addres">
        <p class="our">OUR ADDRESS</p>
        <p class="add">VIA SAN MICHELETTO, 337022 FUMANE VERONA, ITALY</p>
        <p class="call">CALL US AT +19 045 3234498</p>
    </div>
</section>